<ion-content class="full-size">
  <div class="container">
    <ion-card class="pager-soal ion-no-padding overflow-yi" [@EnterLeave]="flyIn">
      <ion-card-content class="full-size ion-no-padding">
        <div id="soal">
          <ion-img src="../assets/img/question/ipa/0008.png"></ion-img>
        </div>
      </ion-card-content>
    </ion-card>

    <div class="choices">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button (click)="onAnswer('a')" expand="full">A</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="onAnswer('b')" expand="full">B</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="onAnswer('c')" expand="full">C</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="onAnswer('d')" expand="full">D</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
