<ion-content>
  <div class="container">

    <ion-card class="pager-soal">
      <ion-card-header>
        <ion-card-title>Soal</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div id="soal"></div>
        <div id="nexpre">
          <ion-button size="small">
            prev
          </ion-button>
          <ion-button size="small">
            next
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <div class="choices">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="full">A</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full">B</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full">C</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full">D</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>